{% extends "index.html" %}
{% block main_content %}
	<h2>Note Editor</h2>
	<form method="post" action="" enctype="multipart/form-data">
		<dl class="register">   
			{% csrf_token %}
			{% for field in form %}
			    <div class="form-group note-textarea-container">{{ field }}</div>
			    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
			    {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
			    </dd>
			{% endfor %}
		</dl>
		<input type="submit" value="Save" class="clearfix btn btn-primary block m-b small-button">
	</form>
{% endblock %}

{% block scripts %}
	<script src="/static/js/jquery-ui.min.js"></script>
	<link href="/static/jquery-tag-it/css/ui-autocomplete-tag-it.css" rel="stylesheet">
    <script src="/static/jquery-tag-it/jquery.tag-it.min.js"></script>
	<script src="/static/jquery-tag-it/tagging_autocomplete_tagit.js"></script>
	<script>
		$(document).ready(function() {
			$(".ui-widget-content.ui-autocomplete-input").attr('placeholder', 'Tags');
		});
	</script>
{% endblock %}